<template>
    <div class="container">
        <div class='row'>
            <div class="col-md-12 text-center">
                <client-component v-for="client in clients" :client="client" :on-click="getTable" :active="active_client"></client-component>
            </div>
        </div>
        <div class='row text-center'>
            <div class="col-md-12">
                <table class="table my-3" v-if="Object.keys(funds).length">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Inception Date</th>
                        <th>Description</th>
                    </tr>
                    <tr v-for="fund in funds">
                        <td>{{ fund.name }}</td>
                        <td>{{ fund.type }}</td>
                        <td>{{ fund.inception_date }}</td>
                        <td>{{ fund.description }}</td>
                    </tr>
                </table>
                <h4 class="text-center my-3" v-else>
                    Nothing to show yet
                </h4>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                clients: {},
                funds: {},
                active_client: false
            }
        },
        methods: {
            getTable(client) {
                var vm = this;
                vm.active_client = client.id;
                axios.get("/api/funds", { params: {client_id: client.id} }).then(function(response){
                    if(response.data.funds) {
                        vm.funds = response.data.funds;
                    }
                });
            }
        },
        mounted() {
            var vm = this;
            axios.get("/api/clients").then(function(response){
                if(response.data.clients) {
                    vm.clients = response.data.clients;
                }
            });
        }
    }
</script>