<template>
    <div class='container'>
        <div class='row text-center'>
            <div class='col-md-4 offset-md-2'>
                Select Client:
                <select v-model="cur_client" class="form-control" @change="getFunds">
                    <option v-for="client in clients" :value="client.id" :selected="client.id===cur_client">{{ client.name }}</option>
                </select>
            </div>
            <div class='col-md-4'>
                Select Fund:
                <select v-model="cur_fund" class="form-control" @change="presentInvestment">
                    <option v-for="fund in funds" :value="fund.id" :selected="fund.id===cur_fund">({{ fund.type }}) {{ fund.name }}</option>
                </select>
            </div>
        </div>
        <div class='row text-center my-3' v-if='investment'>
            <div class='col-md-12'>
                <h3>Latest amount: {{ parseFloat(investment.accumulated_amount).toFixed(2) }}</h3>
            </div>
            <div class='col-md-12'>
                <div class='form-group'>
                    <label>
                        Add cash flow:
                        <input type="number" size=4 step=0.01 v-model="return_p" />
                    </label>
                    <button class='btn btn-sm btn-success' @click="postCashFlow">Submit</button>
                </div>
            </div>
            <div class='col-md-12'>
                <h3>New amount: {{ accumulated_new }}</h3>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                clients: {},
                funds: {},
                investment: null,
                cur_client: false,
                cur_fund: false,
                return_p: 0,
            };
        },
        computed: {
            accumulated_new: function(){
                var vm = this;
                return (
                    parseFloat(vm.investment.accumulated_amount) + 
                    parseFloat(vm.investment.accumulated_amount * vm.return_p/100)).toFixed(2);
            }
        },
        methods: {
            getClients() {
                var vm = this;
                axios.get("/api/clients").then(function(response){
                    if(response.data.clients) {
                        vm.clients = response.data.clients;
                    }
                });
            },
            getFunds() {
                var vm = this;
                axios.get("/api/funds", { params: {client_id: vm.cur_client, with_investments: true} }).then(function(response){
                    if(response.data.funds) {
                        vm.funds = response.data.funds;
                    }
                });
            },
            presentInvestment() {
                var vm = this;
                axios.get("/api/investment", { params: {client_id: vm.cur_client, fund_id: vm.cur_fund} }).then(function(response){
                    if(response.data.investment) {
                        vm.investment = response.data.investment;
                    }
                });
            },
            postCashFlow() {
                var vm = this;
                axios.post("/api/cashflow", {
                    investment_id: vm.investment.id,
                    return: vm.return_p
                }).then(function(response){
                    vm.return_p = 0;
                    vm.presentInvestment();
                });
            }

        },
        mounted() {
            this.getClients();
        }
    }
</script>
