<template>
    <div class="container">
        <div class='row'>
            <div class='col-md-4 offset-md-1'>
                Select Client:
                <select v-model="cur_client" class="form-control" @change="selectClient">
                    <option v-for="client in clients" :value="client.id" :selected="client.id===cur_client">{{ client.name }}</option>
                </select>
            </div>
            <div class='col-md-2  my-auto text-center'>
                OR
            </div>
            <div class='col-md-4'>
                Select Fund Type:
                <select v-model="cur_fund_type" class="form-control" @change="selectFundType">
                    <option v-for="fund_type in fund_types" :value="fund_type" :selected="fund_type===cur_fund_type">
                        {{ fund_type }}
                    </option>
                </select>
            </div>
        </div>
        
        <div class='row'>
            <div class='col-md-6'>
                <div ref="linechart" style="width: 100%; height: 400px;"></div>
            </div>
            <div class='col-md-6'>
                <div ref="piechart" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                clients: {},
                fund_types: {},
                cur_client: false,
                cur_fund_type: false,
                pie_chart: {},
                line_chart: {}
            }
        },
        methods: {
            getClients() {
                var vm = this;
                axios.get("/api/clients").then(function(response){
                    if(response.data.clients) {
                        vm.clients = response.data.clients;
                    }
                });
            },
            getFundTypes() {
                var vm = this;
                axios.get("/api/funds/types").then(function(response){
                    if(response.data.fund_types) {
                        vm.fund_types = response.data.fund_types;
                    }
                });
            },
            makeCharts() {
                var vm = this;
                
                AmCharts.makeChart(this.$refs.piechart,
                    {
                        "type": "pie",
                        "theme": "light",
                        "dataProvider": vm.pie_chart.data,
                        "valueField": vm.pie_chart.valueField,
                        "titleField": vm.pie_chart.titleField,
                        "balloon":{
                            "fixedPosition":true
                        },
                        "export": {
                            "enabled": true
                        }
                    }
                );
                AmCharts.makeChart(this.$refs.linechart, {
                    "type": "serial",
                    "theme": "light",
                    "marginTop":0,
                    "marginRight": 80,
                    "dataProvider": vm.line_chart.data,
                    "valueAxes": [{
                        "axisAlpha": 0,
                        "position": "left"
                    }],
                    "graphs": [{
                        "id":"g1",
                        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
                        "bullet": "round",
                        "bulletSize": 8,
                        "lineColor": "#d1655d",
                        "lineThickness": 2,
                        "negativeLineColor": "#637bb6",
                        "type": "smoothedLine",
                        "valueField": vm.line_chart.valueField,
                    }],
                    "chartScrollbar": {
                        "graph":"g1",
                        "gridAlpha":0,
                        "color":"#888888",
                        "scrollbarHeight":55,
                        "backgroundAlpha":0,
                        "selectedBackgroundAlpha":0.1,
                        "selectedBackgroundColor":"#888888",
                        "graphFillAlpha":0,
                        "autoGridCount":true,
                        "selectedGraphFillAlpha":0,
                        "graphLineAlpha":0.2,
                        "graphLineColor":"#c2c2c2",
                        "selectedGraphLineColor":"#888888",
                        "selectedGraphLineAlpha":1

                    },
                    "chartCursor": {
                        "categoryBalloonDateFormat": "YYYY-MM-DD J:NN:SS",
                        "cursorAlpha": 0,
                        "valueLineEnabled":true,
                        "valueLineBalloonEnabled":true,
                        "valueLineAlpha":0.5,
                        "fullWidth":true
                    },
                    "dataDateFormat": "YYYY-MM-DD J:NN:SSC",
                    "categoryField": vm.line_chart.categoryField,
                    "categoryAxis": {
                        "minPeriod": "mm",
                        "parseDates": true,
                        "minorGridAlpha": 0.1,
                        "minorGridEnabled": true
                    },
                    "export": {
                        "enabled": true
                    }
                });
            },
            selectClient() {
                var vm = this;
                vm.cur_fund_type = false;
                axios.get("/api/client/chart", {
                    params: {
                        client_id: vm.cur_client
                    }
                }).then(function(response){
                    if(response.data.charts) {
                        vm.pie_chart = response.data.charts.pie;
                        vm.line_chart = response.data.charts.line;
                        vm.makeCharts();
                    }
                });

            },
            selectFundType() {
                var vm = this;
                vm.cur_client = false;
                axios.get("/api/fund/type/chart", {
                    params: {
                        fund_type: vm.cur_fund_type
                    }
                }).then(function(response){
                    if(response.data.charts) {
                        vm.pie_chart = response.data.charts.pie;
                        vm.line_chart = response.data.charts.line;
                        vm.makeCharts();
                    }
                });
            },

        },
        mounted() {
            this.getClients();
            this.getFundTypes();
        }
    }
</script>

