<template>
    <button class='mx-1 btn' :class="active === client.id ? 'btn-success' : 'btn-primary'" v-html="client.name" @click="onClick(client)"></button>
</template>

<script>
    export default {
        props: ['client', 'onClick', 'active']
    }
</script>
